
# Backend 
/backend/           @akakileti @ozcanmiraay @Rawan-Khalifa

# AI Summary files
/ai-summary/        @ozcanmiraay @akakileti @Rawan-Khalifa

# Frontend files
/frontend/          @Priscillabirago @linaelatik @haaaaaaaaaayk @tanatswajulius

# Test files
/tests/             @akakileti @ozcanmiraay @Rawan-Khalifa