data.db
db_visualizer.html
venv/
.env
selenium/
*/node_modules
*/data.db
/frontend/.next
/pulling_data/selenium
/backend/selenium
clickable-files/.DS_Store
.DS_Store
*.DS_Store
*.log
*.py[cod]
__pycache__
.pytest_cache
frontend/node_modules
node_modules
**/package-lock.json
**/package.json

