data.db
db_visualizer.html
venv/
.env
selenium/
anusha_api_test/api_responses/
*/node_modules
*/data.db
/frontend/.next
/pulling_data/selenium
/backend/selenium
clickable-files/.DS_Store
.DS_Store
*.DS_Store
*.log
__pycache__